extends layout

block content
   h1 Nahil Ahmed's API Project
   h2 Image Abstraction Layer
   p.red Example Creation Usage:
   code https://urlshortner-nahil.glitch.me/api/imagesearch/batman?offset=1
   p.blue Note : This will give you the first ten results of the image search for the keyword 'batman'.Further results can be accessed by changing the value of offset.
   p.red Usage:
   code https://urlshortner-nahil.glitch.me/api/recentsearch
   p.blue Note : This will give you the list of the recent search keywords provided by various users.
